@model GYMMVC.Models.MembersViewModel
@{
    ViewBag.Title = "Novo Membro";
}
<h2>Criar um novo Membro</h2>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form=group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new {@class = "control-label col-md-2" })
            <div class="col-md-6">
            @Html.EditorFor(model => Model.Nome, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>
        <div class="form=group">
            @Html.LabelFor(model => model.Nivelconta, htmlAttributes: new {@class = "control-label col-md-2" })
            <div class="col-md-6">
            @Html.EditorFor(model => Model.Nivelconta, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>
        <div class="form=group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new {@class = "control-label col-md-2" })
            <div class="col-md-6">
            @Html.EditorFor(model => Model.Id, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="salvar" class="btn btn-primary">
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>
}