@model GYMMVC.Models.MembersViewModel

@{
    ViewBag.Title = "Detalhes do Membro";
}
<h2>Detalhes doo Membro</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dt>@Html.DisplayFor(mnodel => Model.Id)</dt>

        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dt>@Html.DisplayFor(mnodel => Model.Nome)</dt>
        
                <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dt>@Html.DisplayFor(mnodel => Model.Email)</dt>

                <dt>@Html.DisplayNameFor(model => model.Nivelconta)</dt>
        <dt>@Html.DisplayFor(mnodel => Model.Nivelconta)</dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model. Id}) |
    @Html.ActionLink("Retornar", "Index")
</p>